.lc-next-block { 
	position: fixed; 
	top: 50%; 
	right: 0px; 
	z-index: 100; 
} 
.lc-next-block span { 
	display: block; 
	color: #ccc; 
	border: 1px solid #ccc; 
	padding: 5px 10px; 
	margin-bottom: 1px; 
	font-size: 75%; 
	cursor: pointer; 
} 
.lc-next-block span:hover { 
	color: #000; 
	border: 1px solid #000; 
}
.dt_border{
	border: 1px solid black;
	border-width: 1px 1px 0 1px;
}
.p_border{
	border: 1px solid black;
	border-width: 0 1px 1px 1px;
}
